@use 'variable' as *;
@use "../styles/animations/fade" as *;
@use '../assets/fonts/stylesheet' as *;

body {
  color: $color_text;
  background-color: $color_white_text;
  font-size: $size_default;
  @media (max-width: 376px) {
    font-size: $radius_medium - 1;
  }
}

strong {
  font-weight: 700;
  color: $color_text;
}

h2 {
  @media (max-width: 426px) {
    font-size: $size_default;
  }
}

h1 {
  @media (max-width: 426px) {
    font-size: $size_default + 3;
  }
}

a {
  text-decoration: none;
  color: $color_text;
  padding-bottom: $radius_tiny;
  background-image: linear-gradient(currentColor, currentColor);
  transition: linear all .2s;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 2px;
  &.active {
    font-weight: bold;
    color: $color_main_green;
    padding-left: $padding_main;
    &:hover {
      padding-left: $padding_main;
      background-size: 0;
    }
  }
  &:hover {
    color: $color_main_green;
    padding-left: $padding_main;
  }
}

* {
  margin: 0;
  padding: 0;
}

