@use 'variable' as *;

body {
  color: $color_text;
  background-color: $color_white_text;
  font-size: $size_default;
  @media (max-width: 376px) {
    font-size: $radius_medium - 1;
  }
}


h1 {
  font-weight: 700;
  font-size: $size_big - 2;
  //@media (max-width: 383px) {
  //  font-size: $size_big - 6;
  //}
}

strong {
  font-weight: 700;
  color: $color_text;
}

a {
  text-decoration: none;
  color: $color_text;
  padding-bottom: $radius_tiny;
  background-image: linear-gradient(currentColor, currentColor);
  transition: background-size .3s;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 2px;
  &.active {
    color: $color_main_green;
    border-bottom: 2px solid $color_main_green;
    &:hover {
      background-size: 0;
    }
  }
  &:hover {
    color: $color_main_green;
    background-size: 100% 2px;
  }
}

* {
  margin: 0;
  padding: 0;
}

// исправить анимацию, занести в отдельный файл
.fade-down-enter-active, .fade-down-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-down-enter, .fade-down-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.fade-down-enter-to, .fade-down-leave {
  opacity: 1;
  transform: translateY(0);
}

// сделать импорт шрифта для MaterialIcons
// @import url('https://fonts.googleapis.com/css2?family=Material+Icons');
