@use '../styles/variable.scss' as *;

.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px $color_main_green inset;
}
.el-input__wrapper {
  border-radius: $size;
}

.el-button {
  color: #fff;
  border-radius: $size;
  background-color: $color_main_green;
  border: none;
  transition: all linear .2s;
  &:hover {
    color: #fff;
    background-color: $color_main_green_2;
  }
}

.el-switch.is-checked .el-switch__core{
  background-color: $color_main_green;
  border-color: $color_main_green;
}
.el-switch {
  .is-active {
    color: $color_main_green;
  }
}

.el-backtop {
  .el-icon {
    color: $color_main_green;
  }
}