@use '../styles/variable.scss' as *;

.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px $color_main_green inset;
}
.el-input__wrapper {
  border-radius: $size;
}

.el-button--primary {
  color: #fff;
  border-radius: $size;
  background-color: $color_main_green;
  border: none;
  transition: all linear .2s;
  &:hover {
    color: #fff;
    background-color: $color_main_green_2;
  }
  &:disabled{
    background-color: $color_main_green_2;
    &:hover {
      background-color: $color_main_green_2;
    }
  }
}

.el-button--danger {
  color: #fff;
  border-radius: $size;
  background-color: $color_red_main;
  border: none;
  transition: all linear .2s;
  &:hover {
    color: #fff;
    background-color: $color_red_empty;
  }
}

.el-button--warning {
  color: $color_text;
  background-color: $color_white_text;
  border: 1px solid $color_border_gray;
  transition: 0.15s linear all;
  &:hover {
    color: $color_text_orange;
    background-color: $color_background_orange;
    border: 1px solid $color_border_orange;
  }
}

.el-switch.is-checked .el-switch__core{
  background-color: $color_main_green;
  border-color: $color_main_green;
}
.el-switch {
  .is-active {
    color: $color_main_green;
  }
}

.el-backtop {
  .el-icon {
    color: $color_main_green;
  }
}


.el-select__wrapper {
  border-radius: $size;
}
.el-select__wrapper.is-focused {
  box-shadow: 0 0 0 1px $color_main_green inset;
}
.el-select-dropdown__item.is-selected {
  color: $color_main_green;
}

.el-dropdown-menu__item:not(.is-disabled):focus{
  color: $color_main_green;
  background-color: $color_green_background;
  &:nth-last-child(-n + 1) {
    background-color: $color_red_background;
  }
}

.el-breadcrumb {
  .el-breadcrumb__inner.is-link:hover {
    color: $color_main_green
  }
}

.el-dialog {
  width: 500px;
  max-width: 90%;
  max-height: 80vh;
  padding: $padding_main;

  @media(max-width: 768px){
    padding: $padding_main - 10;
  }

  @media(max-width: 321px){
    padding: $padding - 7;
  }
}

.el-dialog__headerbtn:hover .el-dialog__close {
  color: $color_main_green;
}

.el-dialog {
  p {
    margin-bottom: $padding;
  }
}

.el-card {
  margin: $padding_main 0;
}

.el-date-table td.today .el-date-table-cell__text {
  color: $color_main_green
}
.el-date-table td.current:not(.disabled) .el-date-table-cell__text {
  background-color: $color_main_green;
}
.el-date-table__row {
  td.available:hover {
    color: $color_main_green;
  }
}
