$color_text: #333333;
$color_gray_text: #777777;
$color_white_text: #ffffff;

$color_main_green: #30CA2C;
$color_empty_green: #94f893;
$color_empty_green_2: #3e8f3d;

$color_red: #EF2B2B;


$size_tiny: 3px;
$size: 10px;
$size_default: 17px;
$size_big: 23px;
$size_average: 25px;

$radius_tiny: 5px;
$radius_small: 10px;
$radius_medium: 15px;
$radius_average: 30px;
$radius_large: 35px;
$radius_big: 50px;